*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#play{
    padding: 2px 15px;
}

main {
    background-color: aquamarine;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.cells{
    display: flex;
    flex-wrap: wrap;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 8);
    color: black;
    border: 2px solid black;
    aspect-ratio: 1 / 1;
}

.bg_blue{
    background-color: cornflowerblue;
}

footer{
    padding: 2rem;
    text-align: center;
}